<h3>All Patients:</h3>

<ul>
  <% @patients.each do |patient| %>
    <li>Name: <%= link_to patient.name, patient_path(patient) %></li>
    <li>Number of Appointments: <%= patient.appointments.count %></li>
    <li>Age: <%= patient.age %></li>
    <hr>
  <% end %>
</ul>
