<h1><%= @patient.name %></h1>

<h2>Appointments: </h2>

<% @patient.appointments.each do |app| %>
    <li>
        <%= app.date_time %> <%= link_to app.doctor.name, doctor_path(app.doctor) %>
    </li>
<% end%>

<hr />
<%= link_to 'Back', patients_path %>
