<h3>Doctor</h3>

<h2>Name: <%= @doctor.name %> </h2>
<h2>Department: <%= @doctor.department %> </h2>

<% @doctor.appointments.each do |appointment| %>
  <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
  <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
<% end %>
